SCREEPS_USERNAME={{ screeps_username }}
SCREEPS_EMAIL={{ screeps_email }}
SCREEPS_PASSWORD={{ screeps_password }}
SCREEPS_HOSTNAME={{ screeps_hostname|default ('https://screeps.com') }}
SCREEPS_BASIC_AUTH={{ screeps_basic_auth|default ('0') }}
SCREEPS_STATS_SOURCE={{ screeps_stats_source|default ('memory') }}
